body { 
	background: rgba(35,61,61,1);
	background: -moz-linear-gradient(left, rgba(35,61,61,1) 0%, rgba(32,77,66,1) 21%, rgba(36,77,68,1) 33%, rgba(25,77,72,1) 44%, rgba(15,71,66,1) 65%, rgba(39,54,54,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,61,61,1)), color-stop(21%, rgba(32,77,66,1)), color-stop(33%, rgba(36,77,68,1)), color-stop(44%, rgba(25,77,72,1)), color-stop(65%, rgba(15,71,66,1)), color-stop(100%, rgba(39,54,54,1)));
	background: -webkit-linear-gradient(left, rgba(35,61,61,1) 0%, rgba(32,77,66,1) 21%, rgba(36,77,68,1) 33%, rgba(25,77,72,1) 44%, rgba(15,71,66,1) 65%, rgba(39,54,54,1) 100%);
	background: -o-linear-gradient(left, rgba(35,61,61,1) 0%, rgba(32,77,66,1) 21%, rgba(36,77,68,1) 33%, rgba(25,77,72,1) 44%, rgba(15,71,66,1) 65%, rgba(39,54,54,1) 100%);
	background: -ms-linear-gradient(left, rgba(35,61,61,1) 0%, rgba(32,77,66,1) 21%, rgba(36,77,68,1) 33%, rgba(25,77,72,1) 44%, rgba(15,71,66,1) 65%, rgba(39,54,54,1) 100%);
	background: linear-gradient(to right, rgba(35,61,61,1) 0%, rgba(32,77,66,1) 21%, rgba(36,77,68,1) 33%, rgba(25,77,72,1) 44%, rgba(15,71,66,1) 65%, rgba(39,54,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233d3d', endColorstr='#273636', GradientType=1 );
}

p {
	color: #CCCCCC;
	font-family: verdana;
}

#sign {
	border-radius: 50%;
	max-height: 46px;
	padding-left: 10px;
}

#header {
	background-color: #020202;

}

#avatar {
	min-height: 100px;
	min-width: 100px;
}

#chatbox {
	max-width: 100%;
	height: 160px;
}

#chat-ul {
	list-style-type: none;
	overflow-y: scroll;
	background-color: #D3E8FE;
	width: 100%;
	height: 120px;
}

xtb {
	font-family: verdana;
	color: #000000;
	font-size: 16px;
}
xtw {
	font-family: verdana;
	color: #DDDDDD;
	font-size: 16px;
}
xtUser {
	font-family: Georgia;
	color: #7F7F7D;
	font-size: 18px;
}

#msg {
	width: 100%;
	position: absolute;
	bottom: 10px;
}


#desktop {
	height: 100px;
	background-color: #020202;
}

#info {
	padding-top: 6px;
}



#members {
	list-style-type: none;
	overflow-y: scroll;
	height: 100px;
	background-color: #010917;
}
.container-members {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	
	flex-flow: row wrap;

	align-content: flex-start;
}

.member {
	height: 40px;
	width: 40px;
	margin: 5px;
}

.img-warn {
	border-style: solid;
	border-color: red;
}
.img-selected {
	border-style: solid;
	border-color: green;
}

.container-headex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	flex-flow: row nowrap;
	justify-content: space-between; 

	padding-top: 6px;
	padding-bottom: 6px;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}


@media (min-width: 768px) {
  #members {
    height: 390px;
  }
  #desktop {
  	height: 200px;
  }
  #chatbox {
	max-width: 100%;
	height: 400px;
  }
  #chat-ul {
	list-style-type: none;
	overflow-y: scroll;
	background-color: #D3E8FE;
	width: 100%;
	height: 360px;
  }

}